{% layout 'theme' %}
<div class="page-404">
  <div class="page-404__code">404</div>
  <p class="page-404__msg">This page got lost in the void.</p>
  <a href="{{ routes.root_url }}" class="btn-ghost" style="margin-top:16px">Go Home</a>
</div>
